.heading {
  @apply mt-6;
}

.infoList {
  @apply flex flex-col gap-y-3 mt-5 mb-12;

  .item {
    .textGreen {
      @apply text-green2
    }
  }
}

.buttonList {
  @apply flex flex-col gap-y-4;

  .buttonRed {
    @apply bg-red;

    > * {
      @apply text-white;
    }
  }
}
