.button {
  @apply w-full h-11 shadow-light rounded-10px flex justify-center items-center transition ease-in-out delay-15 bg-green1;

  &:active {
    @apply bg-green2;
  }
}

.buttonDisabled {
  @apply w-full h-11 shadow-light rounded-10px flex justify-center items-center transition ease-in-out delay-15 bg-green1 brightness-75;
}
