@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0;
  @apply text-dark
}

html {
  //height: 100%;
  padding-bottom: 70px;
}

hr {
  width: 100%;
  @apply bg-grey3 border-grey3;
}

p {
  @apply text-sm font-medium;
}

body {
  @apply bg-background px-4 h-full;
  margin: 0 auto;
  max-width: 900px;
}


