.heading {
  @apply flex justify-between my-6;
}

.tripList {
  @apply flex flex-col gap-y-4;
}

.container {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 20px;
  }
}

.fromToForm {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  height: 88px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  margin-bottom: 8px;
  padding-left: 16px;

  .inputContainer {
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    input {
      height: 100%;
      width: 100%;
      border: none;
      background-color: transparent;
      font-size: 14px;
      padding-left: 8px;
      padding-right: 16px;
      @apply text-dark;
      &:focus {
        outline: none;
      }
      font-weight: 500;
      font-size: 15px;
      &::placeholder {
        @apply text-grey4;
      }
    }
  }

  .destinationInputContainer {
    @apply border-grey2;
    border-top-width: 1px;
  }
}

.selectors {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;

  .selectorBtn {
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
    height: 44px;
    display: flex;
    font-size: 15px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    padding: 0 16px;

    .icon {
      margin-right: 8px;
    }
  }

}

.button {
  margin-bottom: 16px;
}

.upcomingTripsTitle {
  margin-bottom: 14px;
}
