.heading {
  @apply mt-6 mb-4;
}

.route {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  @apply mb-4 gap-y-0.5;

  .point {
    @apply text-xl font-bold;
  }

  .arrow {
    @apply self-center justify-self-center mx-6;
  }

  .time1 {
    @apply text-xl font-medium;
  }

  .time2 {
    @apply text-xl font-medium col-start-3;
  }
}

.stopListHeading {
  @apply text-grey3 mb-3;
}

.stopList {
  @apply flex flex-col gap-y-2 mb-6;

  .stop {
    @apply flex flex-row justify-between;
  }
}

.infoList {
  @apply flex flex-col gap-y-2 my-6;
}

.seatsInfo {
  @apply flex flex-col gap-y-2 my-6;

  .price {
    @apply flex flex-row justify-between;

    .text {
      @apply text-grey4;
    }
  }
}

.passengersHeading {
  @apply mt-10 mb-6;
}

.passengerList {

  .passenger {
    @apply flex flex-row justify-between py-4;

    .textGrey {
      @apply text-grey4;
    }

    .textGreen {
      @apply text-green2;
    }
  }
}

.buttons {
  @apply flex flex-col gap-y-4 mt-6 pb-12;
}