.navbar {
  @apply bg-background fixed bottom-0 left-0 right-0 py-3 shadow-light;

  .icons {
    @apply flex flex-row justify-between items-center px-12;
    max-width: 900px;
    margin: 0 auto;
  }
}