.seatsPicker {
  @apply flex flex-col gap-4 justify-center items-center px-6 py-10;
  min-height: 400px;
  min-width: 240px;
  background-image: url("/images/car-top-view.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  .row {
    @apply w-full h-1/5 flex justify-between gap-2;

    .space {
      @apply h-full flex flex-1 justify-center items-center bg-transparent rounded-10px;
    }

    .occupiedSeat {
      @apply h-full flex flex-1 justify-center items-center bg-grey4 rounded-10px;
    }

    .vacantSeat {
      @apply h-full flex flex-1 justify-center items-center bg-green2 rounded-10px;
    }

    .selectedSeat {
      @apply h-full flex flex-1 justify-center items-center bg-green2 outline outline-4 outline-dark rounded-10px;
    }
  }
}