.card {
  @apply bg-white px-4 pb-4 pt-3 rounded-xl shadow-light;

  .routeAndPrice {
    @apply flex justify-between pb-1;

    .route {
      @apply text-base font-medium;
    }
  }

  .datetime {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    @apply gap-x-3 pb-2;

    .time {
      @apply text-xl;
    }

    .arrow {
      @apply justify-self-center self-center;
    }

    .date1 {
      @apply text-3xs text-grey4;
    }

    .date2 {
      @apply text-3xs col-start-3 text-grey4;
    }
  }

  .durationAndCarrier {
    @apply flex justify-between pb-2;

    .text {
      @apply text-2xs text-grey3;

      .highlight {
        @apply text-grey4;
      }
    }
  }

  .seatsAndVehicle {
    @apply flex justify-between;

    .seats {
      @apply text-2xs text-dark;
    }

    .vehicle {
      @apply flex space-x-1;

      .text {
        @apply text-2xs text-dark;
      }
    }
  }
}
